// Social Colors
$twitter: #63cdf1;
$facebook: #507cbe;
$pinterest: #f16261;
$instagram: #517fa4;
$youtube: #bb0000;


// Utility Colors
$error: #f84040;
$success: #a7e272;
$warning: #f6ad3b;

// Brand Colors
$white: #ffffff;
$black: #2d2d2d;
$black--true: #000000;
$gray: #57575b;
$grey: $gray;
$gray-light: #929292;
$grey-light: $gray-light;

$blue: #45a8d3;
$blue--light: #daeef6;

