$headerfont: "canada-type-gibson", sans-serif;
$basefont:  "canada-type-gibson", sans-serif;


h1, h2, h3, h4, h5, h6, {
  font-family: $headerfont;
  text-align: left;
  color: $grey;
}

p, a, ul, li{

}

p, ul, li{

}

a, li a, a li {
  text-decoration: none;
}


h1 {
  font-weight: 400;
  font-size: 3.4em;
  letter-spacing: 0px;
  margin: 0 0 .75em 0;
  line-height: 1;
  @include media($device) { font-size: 2rem; }
}

h2 {
  font-size: 3rem;
  @include media($mobile-medium) {
    font-size: 1.5rem;
  }

}

h3 {
  font-size: 2rem;
  @include media($mobile-medium) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}
p, a, {
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0 0 .75em 0;
}

a {
  color: $blue;
}
