/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*
* Build your awesome grid however your heart desires
*
* For guide on building a grid with Bourbon Neat checkout the docs
* http://neat.bourbon.io/
*/
.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 0 1.25em;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.col-one {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 6.38298%;
}

.col-one:last-child {
  margin-right: 0;
}

.col-two {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 14.89362%;
}

.col-two:last-child {
  margin-right: 0;
}

.col-three {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
}

.col-three:last-child {
  margin-right: 0;
}

.col-four {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}

.col-four:last-child {
  margin-right: 0;
}

.col-five {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 40.42553%;
}

.col-five:last-child {
  margin-right: 0;
}

.col-six {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%;
}

.col-six:last-child {
  margin-right: 0;
}

.col-seven {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 57.44681%;
}

.col-seven:last-child {
  margin-right: 0;
}

.col-eight {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
}

.col-eight:last-child {
  margin-right: 0;
}

.col-nine {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 74.46809%;
}

.col-nine:last-child {
  margin-right: 0;
}

.col-ten {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 82.97872%;
}

.col-ten:last-child {
  margin-right: 0;
}

.col-eleven {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 91.48936%;
}

.col-eleven:last-child {
  margin-right: 0;
}

.col-twelve {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
}

.col-twelve:last-child {
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "canada-type-gibson", sans-serif;
  text-align: left;
  color: #57575b;
}

a, li a, a li {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 3.4em;
  letter-spacing: 0px;
  margin: 0 0 .75em 0;
  line-height: 1;
}

@media screen and (max-width: 890px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
}

@media screen and (max-width: 890px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 2rem;
}

@media screen and (max-width: 890px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

p, a {
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0 0 .75em 0;
}

a {
  color: #45a8d3;
}

[class*="--container"] {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  margin-top: 6.5625em;
  padding: 0 2.12766% 2.12766% 2.12766%;
}

[class*="--container"]::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 890px) {
  [class*="--container"] {
    margin-top: 2em;
  }
}

.tabs--container ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.tabs-menu {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin-right: 0;
  border-bottom: 2px solid #45a8d3;
}

.tabs-menu:last-child {
  margin-right: 0;
}

.tabs-menu::after {
  clear: both;
  content: "";
  display: table;
}

.tabs-menu-list-item {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
}

.tabs-menu-list-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 890px) {
  .tabs-menu-list-item {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
  }
  .tabs-menu-list-item:last-child {
    margin-right: 0;
  }
}

.tabs-menu-list-item a {
  display: block;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 0;
  padding: 1.1em;
  text-transform: uppercase;
  color: #45a8d3;
  background-color: #daeef6;
}

@media screen and (max-width: 890px) {
  .tabs-menu-list-item a {
    font-size: .6em;
    text-align: center;
  }
}

.tabs-menu-list-item.current a {
  color: #ffffff;
  background-color: #45a8d3;
}

.form-list-item {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-top: 2.875em;
}

.form-list-item:last-child {
  margin-right: 0;
}

.form-list-item:nth-child(4n) {
  margin-right: 0;
}

.form-list-item:nth-child(4n+1) {
  clear: left;
}

@media screen and (max-width: 890px) {
  .form-list-item {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    margin-top: 2em;
  }
  .form-list-item:last-child {
    margin-right: 0;
  }
}

.form-list-item > label {
  display: block;
  margin-bottom: .5em;
}

.form-list-item > input {
  width: 100%;
  border: 1px solid #45a8d3;
  box-shadow: none;
  line-height: 2.8125em;
  padding-left: 0.875em;
  padding-right: 0.875em;
  font-size: 0.875em;
  color: #57575b;
}

.form-list-item > input:focus {
  box-shadow: none;
  outline: none;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: #929292;
}

.tab-content {
  display: none;
}

#tab-1 {
  display: block;
}

label, legend {
  color: #57575b;
  font-size: 0.875em;
}

input {
  font-weight: 200;
}

.radio-list label {
  display: inline-block;
  font-weight: 200;
  margin-top: .75em;
  font-size: 1em;
}

.radio-list-item {
  margin-top: .75em;
}

.radio-list-item label {
  display: inline;
}

:not(#foo) .styled-checkbox {
  position: absolute;
  width: 17px;
  height: 17px;
  /* Reset anything that could peek out or interfere with dimensions */
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

:not(#foo) .styled-checkbox + label {
  position: relative;
  padding: 0;
}

:not(#foo) .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 17px;
  height: 17px;
  background: transparent;
  border: 1px solid #45a8d3;
  cursor: pointer;
}

:not(#foo) .styled-checkbox:checked + label:before {
  background: #57575b;
  border: 4px solid #45a8d3;
}

.body-text {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin-right: 0;
  margin-top: 2.875em;
}

.body-text:last-child {
  margin-right: 0;
}

.body-text p {
  font-size: 1em;
  font-weight: 100;
  color: #57575b;
}
