// every <section> should have a class that ends with --container to set up max width and center it.
[class*="--container"] {
  @include outer-container;
  margin-top: em(105);
  padding: 0 2.12766% 2.12766% 2.12766%;
  @include media($device) {
    margin-top: 2em;
  }
}

.tabs--container {
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.tabs-menu {
  @include span-columns(12);
  @include omega();
  border-bottom: 2px solid $blue;
  @include clearfix;
}

.tabs-menu-list-item {
  @include span-columns(3 of 12);
  @include media($device) {
    @include span-columns(6 of 12);
  }
  a {
    display: block;
    font-size: em(16);
    font-weight: 200;
    margin-bottom: 0;
    padding: 1.1em;
    text-transform: uppercase;
    color: $blue;
    background-color: $blue--light;
    @include media($device) {
      font-size: .6em;
      text-align: center;
    }
  }
  &.current a{
    color: $white;
    background-color: $blue;
  }
}

.form-list-item {
  @include span-columns(3 of 12);
  @include omega(4n);
  margin-top: em(46);

  @include media($device) {
    @include span-columns(12 of 12);
    @include omega();
    margin-top: 2em;
  }


  // only labels that are not radio buttons
  &>label {
    display: block;
    margin-bottom: .5em;
  }
  &>input {
    width: 100%;
    border: 1px solid $blue;
    box-shadow: none;
    line-height: em(45px);
    padding-left: em(14px);
    padding-right: em(14px);
    font-size: em(14px);
    color: $grey;
    // take out some presets
    &:focus {box-shadow: none; outline: none; }
  }
}

// workaround to color date filler
input[type=date]:invalid::-webkit-datetime-edit { color: $grey-light; }

// default so all tabs don't apper
.tab-content { display: none; }
// show first tab before js kicks in
#tab-1 { display: block; }

label, legend {
  color: $grey;
  font-size: em(14px);
}

input { font-weight: 200; }

.radio-list {
  label {
    display: inline-block;
    font-weight: 200;
    margin-top: .75em;
    font-size: em(16px);
  }
}


.radio-list-item  {
  margin-top: .75em;
  label { display: inline; }
}


@mixin square($dim) {
  width: $dim;
  height: $dim;
}


// custom button for radio on form
:not(#foo) .styled-checkbox {
  position: absolute;
  @include square(17px);
  /* Reset anything that could peek out or interfere with dimensions */
  overflow: hidden;  margin: 0;  padding: 0;  border: 0;  outline: 0;  opacity:0;
  z-index: 2;
  cursor: pointer;

  & + label { position: relative; padding: 0; }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    @include square(17px);
    background: transparent;
    border: 1px solid $blue;
    cursor: pointer;
  }

  &:checked + label:before {
    background: $grey;
    border: 4px solid $blue;
  }
}

.body-text {
  @include span-columns(12);
  @include omega();
  margin-top: em(46);
  p {
    font-size: em(16px);
    font-weight: 100;
    color: $grey;
  }
}

